{% extends 'base.html' %}
{% load staticfiles %}

	{% block menu %}
				<li><a href="{% url 'home' %}" accesskey="1" title="">Homepage</a></li>
				<li ><a href="{% url 'game' %}" accesskey="2" title="">About Game</a></li>
				<li class="active" ><a href="{% url 'about' %}" accesskey="3" title="">About Me</a></li>
	{% endblock %}


{% block matrix %}
<p id="info">
Ben Simge Ekiz. Düzce Üniversitesi Mühendislik Fakültesi'nde araştırma görevlisi olarak çalışıyorum...
</p>
{% endblock %}

{% block footer %}
	<div id="footer">
		<div class="container">
			<div class="fbox1">
			<span class="icon icon-map-marker"></span>
				<span>Düzce Üniversitesi Mühendislik Fakültesi
				<br />Düzce/Türkiye</span>
			</div>
			<div class="fbox1">
				<span class="icon icon-phone"></span>
				<span>
					Telephone: +90 380 542 1036	
				</span>
			</div>
			<div class="fbox1">
				<span class="icon icon-envelope"></span>
				<span>simgeekiz48@gmail.com</span>
			</div>
		</div>
	</div>
{% endblock %}
